* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.myShoppingCart-section {
    width: 100%;
    height: 900px;
    /* background: gainsboro; */
    position: relative;
}

.myShoppingCart-parent {
    width: 95%;
    height: 95%;
    /* background: darkcyan; */
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
/* =================== myShopping start ==================== */
.myShopping {
    font-size: 35px;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.m {
    color: rgb(52, 221, 52);
}
.y {
    color: red;
}
.s {
    color: rgb(253, 117, 219);
}
.h {
    color: aqua;
}
.o {
    color: rgb(168, 87, 243);
}
.p1 {
    color: brown;
}
.p2 {
    color: rgb(41, 240, 180);
}
.i {
    color: chartreuse;
}
.n {
    color: chocolate;
}
.g {
    color: cornflowerblue;
}
.c {
    color: crimson;
}
.a {
    color: cyan;
}
.r {
    color: darkgoldenrod;
}
.t {
    color: deeppink;
}
/* =================== myShopping end =================== */


.choosePhoneParent {
    width: 92%;
    height: 80%;
    background: rgba(245, 242, 242, 0.753);
    border-radius: 5px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.onePhone-parent {
    width: 90%;
    height: 20%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}
.twoPhone-parent {
    width: 90%;
    height: 20%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ====================  phone details start =================== */

.one-phone img, .two-phone img {
    width: 75px;
    height: 120px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(-3%, -50%);
}

.one-phoneName, .two-phoneName {
    color: rgba(43, 40, 40, 0.829);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}

.one-phoneMinus, .two-phoneMinus {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 64%;
    transform: translate(-64%, -50%);
    cursor: pointer;
}

.one-phoneAmount, .two-phoneAmount {
    font-size: 20px;
    background: gainsboro;
    padding: 5px 20px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}

.one-phonePlus, .two-phonePlus {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-75%, -50%);
    cursor: pointer;
}

.one-phonePrice, .two-phonePrice {
    font-size: 20px;
    color: rgba(43, 40, 40, 0.822);
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

.one-phoneDataReset, .two-phoneDataReset {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-97%, -50%);
    cursor: pointer;
}


.phoneTotal-parent {
    width: 90%;
    height: 20%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -85%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================  phone details end,  amount section start  ============= */

.phoneTotal-parent .phoneTotal {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-5%, -50%);
    letter-spacing: 0.8px;
    line-height: 30px;
}
.phoneTotal-parent .phoneTotalAmount {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-95%, -50%);
    letter-spacing: 0.8px;
    line-height: 30px;
}
/* ================   amount section end,   button section start  ============= */


.btn {
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background: #2be6a8;
    padding: 14px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    position: absolute;
    bottom: 3%;
    right: 4%;
    transform: translate(-4%, -3%);

}